:root{
    --bgc-for-card:#F3F3F3;
    --itm-header:#cc3399;
    --main-color: #602b38;
    --back-color:#d1c1b4;
    --button-color-green:#18786c;
    --text-color:#392e2e;
    --danger:#b62837;
    --success:#329667;
}
@media(max-width: 1000px){
    a, p, span, div{
        font-size: 103%;
    }
}
@media(max-width: 500px){
    a, p, span, div{
        font-size: 102%;
    }
}
@media(max-width: 400px){
    a, p, span, div{
        font-size: 101%;
    }
}
h1 h2 h3{
    font-color:black !important;
}
.main-colors{
    /*filter: invert(25%) sepia(84%) saturate(1963%) hue-rotate(295deg) brightness(96%) contrast(87%); !*pink*!*/
    filter: invert(19%) sepia(20%) saturate(1524%) hue-rotate(295deg) brightness(93%) contrast(91%);
    /*filter: invert(0%) sepia(0%) saturate(7%) hue-rotate(253deg) brightness(103%) contrast(100%);!*black*!*/
}
.btn{
    border-radius: 20px;
}
label{
    border-radius: 20px !important;
}
.backcolor {
    background:white;
    /*background: rgb(255,189,251);*/
    /*background: linear-gradient(50deg, rgba(255,189,251,1) 40%, rgba(255,250,166,1) 100%);*/
}
/*.shadow-drop-2-center{animation:shadow-drop-2-center 1s cubic-bezier(.25,.46,.45,.94) both}*/
/*!* ----------------------------------------------*/
/* * Generated by Animista on 2022-5-30 2:40:8*/
/* * Licensed under FreeBSD License.*/
/* * See http://animista.net/license for more info.*/
/* * w: http://animista.net, t: @cssanimista*/
/* * ---------------------------------------------- *!*/

/*@keyframes shadow-drop-2-center{0%{transform:translateZ(0);box-shadow:0 0 0 0 transparent}100%{transform:translateZ(50px);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}*/

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox{
    width: 30px;
}
/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}
.form-control{
    /*background-color:var(--back-color);*/
    border-radius: 20px;
}
body {
    /*padding: 20px 50px;*/
}

.checkbox {
    margin-bottom: 1em;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}


header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    max-width:1000px;
    z-index:1000;
    padding:0;
    margin-left: auto;
    margin-right: auto;
}
.background-back{
    /*background: rgb(255,189,251);*/
    /*background: linear-gradient(50deg, rgba(255,189,251,1) 40%, rgba(255,250,166,1) 100%);*/
    background-image: url('../images/backgrounds/back_brown.jpg');
    background-size: 300px;
    /*background-attachment: fixed;*/

}
.pag nav{
    /*width:50%;*/
    margin-left:auto;
    margin-right: auto;
}
.pagination ul{
    margin-left:auto;
    margin-right: auto;
    /*padding-left:none;*/
    padding-left: 0;
}
.pagination{
    overflow-x:auto;
}
.categories{
    overflow-x:auto;
}

.page-link span[aria-label="Next »"]{
width: 50%;
}

/*inputs*/
input[type=text], select {
    /*width: 100%;*/
    padding: 5px 12px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*input[type=submit] {*/
/*    width: 100%;*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*    padding: 14px 20px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

input[type=submit]:hover {
    background-color: #45a049;
}
/*end inputs*/

.pagination{
    padding-left:0;
    padding-top: 5px;
    padding-bottom: 5px;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow:0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.page-item{
    /*background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));*/
    /*backdrop-filter: blur(35px);*/
    /*-webkit-backdrop-filter: blur(35px);*/
    background-color:var(--back-color);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow:0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-left: 5px;
    margin-right: 5px;
}
.page-link{
    color: var(--text-color);
}
.active{
    color: #efdce5;
}
.absolute-center {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow:0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.glasses-borders{
    border-radius: 20px;
    border: 5px solid var(--bgc-for-card);
}
.button-custom{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
.filter_title{
    text-align: center;
}
table{
    /*background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));*/
    /*backdrop-filter: blur(20px);*/
    /*-webkit-backdrop-filter: blur(20px);*/
    /*border-radius: 20px;*/
    /*!*border: 1px solid rgba(255, 255, 255, 0.18);*!*/
    /*box-shadow:0 8px 32px 0 rgba(0, 0, 0, 0.05);*/

    /*border: black;*/
    /*border-radius: 20px;*/
    /*border: 1px solid rgba(255, 255, 255, 0.18);*/
}
table * {
    border:none;
    /*background:white;*/
}
table td{
    border:none;
}


@media(max-width:350px){
.social-networks{
    display:block !important;
}
}
.badge_menu {
    position: absolute;
}
.form-control{
    border:none;
    border-radius:0px !important;
}
.btn-plus-count{
    border-radius: 0px 5px 5px 0px;
}
.btn-minus-count{
    border-radius: 5px 0px 0px 5px;
}
.float-container {
    display: grid;
    grid-template: 1fr / 1fr;

}
.float-container > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.float-child {
    /*flex: 1;*/
    text-align: justify;
    min-width: 50%;
    /*float: left;*/
    /*padding: 20px;*/
    /*border: 2px solid red;*/
}
.about-us-text{
    font-size: medium;
    box-sizing: content-box;

}
.row{
    box-shadow:none;
}
.card-item{
    box-shadow:none;
}

/*!*Media*!/////////////////////////////*/
@media (min-width: 1200px) {
    .container {
        max-width: 1050px;
        margin: 0 auto;
    }
}
@media(max-width: 500px){
    .filters>li {
        display: block !important;
    }
}

.slider__wrapper {
    overflow: hidden;
    /*margin-left: -5px;*/
    /*margin-right: -5px;*/
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .slider__item {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
}

@media (max-width: 1000px){
   .adaptive-span{
        width:100%; !important
        display: block;
       margin-left: auto;
       margin-right: auto
    }
    .adaptive-img{
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.slider__item-content {
    padding-left: 5px;
    padding-right: 5px;
}

.slider__content_header {
    position: relative;
}

.slider__content_img {
    display: block;
    height: auto;
    max-width: 100%;
}

.slider__content_section {
    position: absolute;
    bottom: 6px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 12px;
    line-height: 1;
}

.slider__content_title {
    background: #fafafa;
    color: #424242;
    white-space: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    padding: 10px 15px;
    margin: 0;
    height: 52px;
}

.slider__content_footer {
    background: #fafafa;
    display: flex;
    padding: 20px 15px;
    color: #616161;
}

.slider__content_avatar {
    flex: 0 0 40px;
    max-width: 40px;
}

.slider__content_photo {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

.slider__content_author {
    margin-left: 8px;
    line-height: 40px;
}

.slider__content_icon {
    height: 18px;
    margin-top: 12px;
    margin-left: auto;
}

.slider__content_views {
    margin-left: 4px;
    line-height: 40px;
}
.slider__container{
    overflow: visible;
}
.slider__control {
    background-color: unset;
}

.slider__control:hover,
.slider__control:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.slider__indicators {
    /*bottom: -35px;*/
}

.slider__indicators li {
    background-color: #eee;
}

.slider__indicators li.active {
    background-color: #757575;
}
